kind: ConfigMap
apiVersion: v1
metadata:
  name: llama-stack-config
  labels:
    llamastack.io/distribution: lsd-genai-test
    opendatahub.io/dashboard: 'true'
data:
  run.yaml: |
    # Llama Stack Configuration
    version: "2"
    image_name: rh
    apis:
    - agents
    - datasetio
    - files
    - inference
    - safety
    - scoring
    - tool_runtime
    - vector_io
    providers:
      inference:
      - provider_id: sentence-transformers
        provider_type: inline::sentence-transformers
        config: {}
      # - provider_id: vllm-inference-1
      #   provider_type: remote::vllm
      #   config:
      #     api_token: ${env.VLLM_API_TOKEN_1:=fake}
      #     max_tokens: ${env.VLLM_MAX_TOKENS:=4096}
      #     tls_verify: ${env.VLLM_TLS_VERIFY:=true}
      #     url: http://qwen3-8b-predictor.llm-test.svc.cluster.local:8080/v1
      - provider_id: vllm-inference-2
        provider_type: remote::vllm
        config:
          api_token: 'fake'
          max_tokens: 4096
          tls_verify: false
          url: https://llama-4-scout-17b-16e-w4a16-maas-apicast-production.apps.prod.rhoai.rh-aiservices-bu.com:443/v1
      - provider_id: vllm-inference-3
        provider_type: remote::vllm
        config:
          api_token: 'fake'
          max_tokens: 4096
          tls_verify: false
          url: https://deepseek-r1-qwen-14b-w4a16-maas-apicast-production.apps.prod.rhoai.rh-aiservices-bu.com:443/v1
      - provider_id: vllm-inference-4
        provider_type: remote::vllm
        config:
          api_token: 'fake'
          max_tokens: 4096
          tls_verify: false
          url: https://phi-4-maas-apicast-production.apps.prod.rhoai.rh-aiservices-bu.com:443/v1
      vector_io:
      - provider_id: milvus
        provider_type: inline::milvus
        config:
          db_path: /opt/app-root/src/.llama/distributions/rh/milvus.db
          kvstore:
            db_path: /opt/app-root/src/.llama/distributions/rh/milvus_registry.db
            namespace: null
            type: sqlite
      agents:
      - provider_id: meta-reference
        provider_type: inline::meta-reference
        config:
          persistence_store:
            db_path: /opt/app-root/src/.llama/distributions/rh/agents_store.db
            namespace: null
            type: sqlite
          responses_store:
            db_path: /opt/app-root/src/.llama/distributions/rh/responses_store.db
            type: sqlite
      eval: []
      files:
      - provider_id: meta-reference-files
        provider_type: inline::localfs
        config:
          metadata_store:
            db_path: /opt/app-root/src/.llama/distributions/rh/files_metadata.db
            type: sqlite
          storage_dir: /opt/app-root/src/.llama/distributions/rh/files
      datasetio:
      - provider_id: huggingface
        provider_type: remote::huggingface
        config:
          kvstore:
            db_path: /opt/app-root/src/.llama/distributions/rh/huggingface_datasetio.db
            namespace: null
            type: sqlite
      scoring:
      - provider_id: basic
        provider_type: inline::basic
        config: {}
      - provider_id: llm-as-judge
        provider_type: inline::llm-as-judge
        config: {}
      tool_runtime:
      - provider_id: rag-runtime
        provider_type: inline::rag-runtime
        config: {}
      - provider_id: tavily-search
        provider_type: remote::tavily-search
        config:
          api_key: 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
          max_results: 3
      - provider_id: model-context-protocol
        provider_type: remote::model-context-protocol
        config: {}
    metadata_store:
      type: sqlite
      db_path: /opt/app-root/src/.llama/distributions/rh/inference_store.db
    models:
    - provider_id: sentence-transformers
      model_id: granite-embedding-125m
      provider_model_id: ibm-granite/granite-embedding-125m-english
      model_type: embedding
      metadata:
        embedding_dimension: 768
    # - provider_id: vllm-inference-1
    #   model_id: qwen3-8b
    #   model_type: llm
    #   metadata:
    #     description: ""
    #     display_name: qwen3-8b
    - provider_id: vllm-inference-2
      model_id: llama-4-scout-17b-16e-w4a16
      model_type: llm
      metadata:
        description: ""
        display_name: llama-4-scout-17b-16e-w4a16
    - provider_id: vllm-inference-3
      model_id: r1-qwen-14b-w4a16
      model_type: llm
      metadata:
        description: ""
        display_name: r1-qwen-14b-w4a16
    - provider_id: vllm-inference-4
      model_id: 'microsoft/phi-4'
      model_type: llm
      metadata:
        description: ""
        display_name: 'microsoft/phi-4' 
    shields: []
    vector_dbs: []
    datasets: []
    scoring_fns: []
    benchmarks: []
    tool_groups:
    - toolgroup_id: builtin::rag
      provider_id: rag-runtime
    server:
      port: 8321
